ENVIRONMENT={{ env_name }}
AWS_REGION={{ aws_region | default('ap-southeast-1') }}
ECR_REGISTRY={{ lookup('env', 'ECR_REGISTRY') }}
IMAGE_TAG={{ image_tag }}

POSTGRES_DB={{ postgres_db | default('eventing_dev') }}
POSTGRES_USER={{ postgres_user | default('eventing') }}
POSTGRES_PASSWORD={{ lookup('env', 'POSTGRES_PASSWORD') }}

DATABASE_URL=postgres://{{ postgres_user | default('eventing') }}:{{ lookup('env', 'POSTGRES_PASSWORD') }}@postgres:5432/{{ postgres_db | default('eventing_dev') }}
REDIS_URL=redis://redis:6379
ELASTIC_NODE_URL=http://elasticsearch:9200

NODE_ENV=production
PORT=3000
NEXT_PUBLIC_API_URL={{ lookup('env', 'PUBLIC_API_URL') }}

ACCESS_TOKEN_SECRET={{ lookup('env', 'ACCESS_TOKEN_SECRET') }}
REFRESH_TOKEN_SECRET={{ lookup('env', 'REFRESH_TOKEN_SECRET') }}
JWT_TICKET_SECRET={{ lookup('env', 'JWT_TICKET_SECRET') }}
PAYMENT_WEBHOOK_SECRET={{ lookup('env', 'PAYMENT_WEBHOOK_SECRET') }}

AUTH_PROVIDER={{ lookup('env', 'AUTH_PROVIDER') | default('backend', true) }}
DATABASE_PROVIDER=postgres
STORAGE_PROVIDER={{ lookup('env', 'STORAGE_PROVIDER') | default('local', true) }}
NOTIFICATION_PROVIDER={{ lookup('env', 'NOTIFICATION_PROVIDER') | default('onesignal', true) }}
ONESIGNAL_TARGET_MODE={{ lookup('env', 'ONESIGNAL_TARGET_MODE') | default('external_id', true) }}

APP_PUBLIC_URL={{ lookup('env', 'APP_PUBLIC_URL') | default(lookup('env', 'PUBLIC_API_URL'), true) }}
OPENWEATHER_API_KEY={{ lookup('env', 'OPENWEATHER_API_KEY') }}

ZALOPAY_APP_ID={{ lookup('env', 'ZALOPAY_APP_ID') }}
ZALOPAY_KEY1={{ lookup('env', 'ZALOPAY_KEY1') }}
ZALOPAY_KEY2={{ lookup('env', 'ZALOPAY_KEY2') }}
ZALOPAY_ENDPOINT={{ lookup('env', 'ZALOPAY_ENDPOINT') | default('https://sb-openapi.zalopay.vn/v2/create', true) }}

S3_REGION={{ lookup('env', 'S3_REGION') | default('auto', true) }}
S3_ENDPOINT={{ lookup('env', 'S3_ENDPOINT') }}
S3_ACCESS_KEY_ID={{ lookup('env', 'S3_ACCESS_KEY_ID') }}
S3_SECRET_ACCESS_KEY={{ lookup('env', 'S3_SECRET_ACCESS_KEY') }}
S3_BUCKET={{ lookup('env', 'S3_BUCKET') }}
S3_PUBLIC_URL_BASE={{ lookup('env', 'S3_PUBLIC_URL_BASE') }}

ONESIGNAL_APP_ID={{ lookup('env', 'ONESIGNAL_APP_ID') }}
ONESIGNAL_REST_API_KEY={{ lookup('env', 'ONESIGNAL_REST_API_KEY') }}

LOG_LEVEL={{ lookup('env', 'LOG_LEVEL') | default('info', true) }}
LOG_CONSOLE={{ lookup('env', 'LOG_CONSOLE') | default('true', true) }}
